/* ===================
   Global Styles
=================== */
body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffa9a9;
}

h1, h2, h3 {
    font-weight: 300;
    margin-bottom: 0;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

p {
    color: #9698A6;
    font-weight: 300;
    font-size: 18px;
}

a{
    color: #9698A6;
    text-decoration: none;
    font-weight: 300;
}

button {
    width: 180px;
    background-image: linear-gradient(to right, #31D35C, #2BB7DA);
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 27px;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background-image: linear-gradient(to right, #84d199, #82ccdf);
}

/* ===================
   Header and Navigation
=================== */
header {
    background-color: #ffffff;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
    height: 80px;
    box-sizing: border-box;
    padding: 0 10%;
}

nav img {
    max-width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

nav ul li a {
    position: relative;
}

nav ul li a:hover {
    color: #2D314D;
    font-weight: 400;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #31D35C, #2BB7DA);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav button {
    margin-right: 0;
}

@media (max-width: 768px){
    nav{
        flex-direction: column;
    }
}

/* ===================
   Intro Section
=================== */
.intro_section {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.intro_adv {
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Four equal-width columns */
    overflow: hidden;
}


.intro_left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15% 20%;
}

.intro_right {
    position: relative;
}

.intro_right img {
    position: absolute;
    /* top: -16em; */
    /* left: -6em; */
}


@media (max-width: 768px){
    .intro_adv {
        grid-template-columns: 1fr; /* Two equal-width columns */
        justify-items: center;
    }

    .intro_left{
        order: 2;
        width: 100%;
        padding: 15% 10%;
        align-items: center;
        text-align: center;
    }

    .intro_right{
        width: 100%;
        min-height: 1000px;
        max-height: 1000px;
        background-color: #2BB7DA;
    }

    .intro_right img {
        width: 100%;
        height: auto;
        right: 0;
    }
}

/* ===================
   Features Section
=================== */
.features {
    background-color: #F3F4F6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5em 10%;
}

.block0 {
    width: 60%;
    padding: 1em 0;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal-width columns */
    gap: 2em; /* Space between blocks */
    width: 100%; /* Ensure the blocks container uses full width */
}

.block1, .block2, .block3, .block4 {
    padding: 0; /* Adjust padding to control internal spacing */
    box-sizing: border-box; /* Ensure padding doesn't add to the block's width */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .blocks {
        grid-template-columns: 1fr; /* Stack blocks in a single column on small screens */
        gap: 1em; /* Adjust gap for smaller screens */
    }
    .block0{
        width: 100%;
    }

    .block0, .block1, .block2, .block3, .block4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 3em;
        text-align: center;
    }
}

/* ===================
   Articles Section
=================== */
.articles {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    padding-bottom: 5em;
}

.articles h2 {
    margin: 3% 0;
}

.articles p, .articles h3 {
    width: 70%;
    padding: 0;
    margin: 0.5em;
}

.articles a {
    color: #2D314D;
}

.articles a:hover {
    color: #2BB7DA;
}

.articles img {
    height: 300px;
    width: 100%;
}

.art_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal-width columns */
    gap: 2em; /* Space between blocks */
    width: 100%; /* Ensure the items container uses full width */
    justify-content: center; /* Center the grid items */
}

.art1, .art2, .art3, .art4 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    box-sizing: border-box;
    max-width: 350px; /* Set the desired maximum width */
}

@media (max-width: 1400px) {
    .articles{
        text-align: center;
    }

    .art_items {
        grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
        gap: 1em; /* Adjust gap for smaller screens */
        justify-items: center;
    }

    .art1, .art2, .art3, .art4 {
        max-width: 400px; /* Set the desired maximum width */
    }
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .art_items {
        grid-template-columns: 1fr; /* Stack items in a single column on small screens */
        gap: 1em; /* Adjust gap for smaller screens */
        justify-items: center;
    }

    .art1, .art2, .art3, .art4 {
        max-width: 500px; /* Set the desired maximum width */
    }
}



/* ===================
   Footer Section
=================== */
footer {
    background-color: #2D314D;
    color: #FFFFFF;

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal-width columns */
    gap: 2em; /* Space between blocks */

    box-sizing: border-box;
    padding: 0 10%;
    width: 100%; /* Ensure the items container uses full width */
}

footer a{
    color: #FFFFFF;
}

.seg1, .seg2, .seg3, .seg4 {
    padding: 2em 0;
    margin: 0;
    box-sizing: border-box;
}
.seg2{
    display: flex;
    justify-content:space-between;
}

.seg4 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.seg1 .logo_neg {
    width: 139px;
    height: 20px;
    margin-bottom: 3em;
}

footer img {
    width: 20px;
    height: auto;
    padding: 0.2em;
}

footer ul img:hover{
    filter: brightness(0) saturate(100%) invert(76%) sepia(33%) saturate(4300%) hue-rotate(153deg) brightness(92%) contrast(84%);
}

footer a:hover{
    color:#2BB7DA
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    padding: 0.5em 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr; /* Stack items in a single column on small screens */
        gap: 0; /* Adjust gap for smaller screens */
        justify-items: center;
    }

    .seg1, .seg2, .seg3, .seg4 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0.5em;
    }

    .seg1 .logo_neg {
        margin-bottom: 1em;
    }

    footer img {
        padding: 0.5em;
    }
}
/* ===================
   Attribution
=================== */
.attribution {
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}

.attribution a {
    color: gray;
}
